.page-content {
  font-size: 1rem;
  margin: 0 auto;
  text-align: justify;
  width: 60%;
  @media (max-width: 992px) {
    text-align: left;
    width: 90%;
  }
  @media (max-width: 480px) {
    width: 98%;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2em;
  }
  h3 {
    font-weight: bold;
  }
  p {
    margin: 20px 0;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
    &.li-bold {
      font-weight: bold;
      p {
        font-weight: normal;
      }
    }
  }
  li {
    margin: 20px 0;
  }
  q {
    font-style: italic;
  }

}